/* --- 744px x 1113px --- */

@media (max-width: 744px) {
    .hero-section {
        padding-top: 25%;
        height: auto;
        min-height: 100vh;
    }

    .hero-section::after {
        top: 50.9%; 
        left: 10vw;
        width: 12%;
    }

    .hero-section h1 {
        font-size: 60px;
        top: 30%;
        left: 10vw;
        width: 70vw;
    }

    .hero-section p {
        font-size: 20px;
        top: 53%;
        left: 10vw;
        width: 50vw;
    }

    #about {
        height: 634px;
        padding: 50px 20px;
    }

    #about h2 {
        font-size: 60px;
        width: 90vw;
        margin: 0 auto 20px auto;
        margin-bottom: 42px;
    }

    #about p {
        font-size: 20px;
        width: 95%;
    }

    #about::after {
        top: 41%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }

    #points-game {
        height: 630px;
        padding: 50px 20px;
    }

    #points-game h2 {
        font-size: 57px;
        margin-top: 0;
    }

    #points-game .img-fluid {
        margin-top: 60px;
        width: 32px;
        height: 32px;
    }

    #points-game p {
        width: 90%;
    }

    #points-game::after {
        top: 36%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }

    #carousel-container::before,
    #carousel-container::after {
        width: 25%;
    }

    #prev {
        left: 20px;
    }

    #next {
        right: 20px;
    }

    #download {
        height: 482px;
        padding: 50px 20px;
    }

    #download h2 {
        font-size: 60px;
        width: 90vw;
        margin: 0 auto 20px auto;
        margin-bottom: 42px;
    }

    #btn-download, #about .btn {
        width: 200px;
        height: 40px;
    }

    .arrow {
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes move {
        0% { transform: translateX(-30%) translateY(0); }
        50% { transform: translateX(-30%) translateY(40px); }
        100% { transform: translateX(-30%) translateY(0); }
    }
}


/* --- 360px x 760px --- */

@media (max-width: 360px) {

    .hero-section {
        padding-top: 30%;
    }

    .hero-section::after {
        top: 52%;
        left: 5vw;
        width: 30%;
    }

    .hero-section h1 {
        font-size: 48px;
        top: 20%;
        left: 5vw;
        width: 90vw;
    }

    .hero-section p {
        font-size: 20px;
        top: 55%;
        left: 5vw;
        width: 90vw;
    }

    #valorantlogo {
        width: 210px;
        height: auto;
    }

    .navbar-toggler {
        font-size: 1.5rem;
    }

    .navbar-toggler .link {
        font-size: 1.5rem !important;
    }

    #about h2,
    #points-game h2 {
        font-size: 36px;
        width: 80vw;
    }

    #points-game h2{  
      margin-top: 70px;
    }

    #points-game .img-fluid {
        margin-top: 20px;
    }

    #about p,
    #points-game p {
        font-size: 18px;
        width: 100%;
    }

    #about::after {
        top: 38%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }

    #points-game::after{
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }

    #about .btn,
    #btn-download {
        width: 200px;
        height: 40px;
        font-size: 1rem
    }

    #carousel-container::before,
    #carousel-container::after {
        width: 10%;
    }

    #prev, #next {
        position: absolute;
        width: 40px;
        height: 40px;
    }
    
    #prev {
        left: 5px;
    }

    #next {
        right: 5px;
    }

    #carousel-container .owl-carousel .item img {
        height: 200px;
    }

    #download {
        height: 253px;
        padding: 50px 20px;
    }

    #download h2 {
        font-size: 36px;
        width: 80vw;
        margin: 0 auto 20px auto;
        margin-bottom: 20px;
    }

    #download .btn {
        width: 200px;
        height: 60px;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footer {
        height: 150px;
    }

    #footer-logo {
        width: 140px;
        height: auto;
    }

    .arrow {
        bottom: 10px;
    }

    @keyframes move {
        0% { transform: translateX(-30%) translateY(0); }
        50% { transform: translateX(-30%) translateY(40px); }
        100% { transform: translateX(-30%) translateY(0); }
    }
}